.selected-directory-path {
    font-size: 1em;
    color: var(--menu-option-button-heading-color);
    margin: 0px;
    margin-bottom: 20px;
    background-color: var(--menu-option-button-background-color);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

.confirmation-container {
    margin: 0px 0px;
    gap: 0px;
}