<!--MASTER PAGE MARKUP-->
<!DOCTYPE html>

<html lang="en" class="no-scrollbar">
    <head>
        <meta charset="UTF-8">
        <title>Folder Organization Tool</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style/MasterPageStyle.css"/>
    </head>
    <body>
      <div class="main-container">
        <!-- HEADER -->
        <header class="header">
          <div class="center-container">
            <button id="logo" class="logo-button">
              <img src="../media/images/DefaultLogoWithCube.png" alt="Logo" class="logo-img"/>
            </button>
            <h1 id="header-heading" class="header-heading">Heading</h1>
          </div>
          <div class="theme-toggle-button-container">
            <button id="themeToggleBtn" class="theme-toggle-button"><img src="../media/images/SunIcon.png" class="theme-toggle-img"></button>
          </div>
        </header>
        <!-- MAIN -->
        <main class="main-content" id="main-content">Main Content Area</main>
        <!-- FOOTER -->
        <footer class="footer">
          <ul class="footer-list">
            <li class="footer-list-item">
              <h3 class="footer-heading">About the App</h3>
              <ul class="footer-sub-list">
                <li class="footer-sub-list-item">
                  <span class="footer-text">App Version: 1.0.5</span>
                </li>
                <li class="footer-sub-list-item">
                  <a href="https://github.com/Logangosha/FolderOrganizingTool" id="github-link" class="footer-link">GitHub Repository</a>
                </li>
                <!-- FOR FUTURE IMPLEMENTATION -->
                <!-- <li class="footer-sub-list-item">
                  <a href="https://github.com/Logangosha/FolderOrganizingTool" id="faq-link" class="footer-link">FAQ</a>
                </li> -->
              </ul>
            </li>
            <!-- <li class="footer-list-item">
              <h3 class="footer-heading">Legal</h3>
              <ul class="footer-sub-list">
                <li class="footer-sub-list-item">
                  <a href="https://github.com/Logangosha/FolderOrganizingTool" id="terms-of-service-link" class="footer-link">Terms of Service</a>
                </li>
                <li class="sub-list-item">
                  <a href="https://github.com/Logangosha/FolderOrganizingTool" id="privacy-policy-link" class="footer-link">Privacy Policy</a>
                </li>
              </ul>
            </li> -->
            <!-- <li class="footer-list-item">
              <h3 class="footer-heading">Feedback</h3>
              <ul class="footer-sub-list">
                <li class="footer-sub-list-item">
                  <a href="https://github.com/Logangosha/FolderOrganizingTool" id="submit-feedback-link" class="footer-link">Submit Feedback</a>
                </li>
                <li class="footer-sub-list-item">
                  <a href="https://github.com/Logangosha/FolderOrganizingTool" id="report-bug-link" class="footer-link">Report Bug</a>
                </li>
              </ul>
            </li> -->
          </ul>
        </footer>
      </div>
    <script type="module" src="../../controller/IndexController/renderer.js"></script>
    </body>
</html>

