
    :root {
        /* --file-border-color: #ccc; */
        --scrollbar-background-color: var(--light-color2);
        --scrollbar-track-color: var(--light-color4);
        --scrollbar-track-hover-color: var(--light-color6);

    }

    .folder-icon {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
        margin-right: 3px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .file-icon {
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
        margin-right: 3px;
        margin-top: 3px;
    }

.display-changes-container {

    display: flex;
    gap: 20px;
  }
    .directory-container {
    /* Adjust width and height as needed */
    width: 40vw;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 0px var(--menu-option-button-hover-box-shadow-color);
    border-radius: 5px;
    /* padding: 10px; */
    text-align: left;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    background-color: var(--menu-option-button-background-color);
    } 

    .directory-container > h3 {
        text-align: center;
        margin: 0px;
        padding: 20px;
        background-color: var(--header-background-color);

    }

    .directory-container-content {
        overflow: scroll;
        padding: 20px;
        height: 100%;
        overflow-y: hidden;
    }

    .directory-container-content::-webkit-scrollbar {
        height: 10px; /* Height of the horizontal scrollbar */
    }
    
    .directory-container-content::-webkit-scrollbar-track {
        background: var(--scrollbar-background-color); /* Color of the scrollbar track */
    }
    
    .directory-container-content::-webkit-scrollbar-thumb {
        background: var(--scrollbar-track-color); /* Color of the scrollbar thumb */
    }
    
    .directory-container-content::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-track-hover-color); /* Color of the scrollbar thumb when hovered */
    }

    .folder {
     font-weight: bold !important; 
     }
     
     .folder > button {
         color: var(--h3-color);
        cursor: pointer;
        background-color: transparent;
        text-decoration: none;
        border: none;
        font-size: 16px;
        margin: 0px;
        padding: 0px;
        font-weight: bold;
    }

    .file {
        font-weight: normal;
        font-size: 14px;
        color: var(--menu-option-button-description-color)

        /* border-left: solid 1px var(--file-border-color); */
    }
    
    .hidden {
      display: none;
    }

    /* 
    <div class="display-changes-container">
      <div class="directory-container" id="unorganized-directory-container">
        <h3>Unorganized Directory</h3>
        <pre id="unorganized-directory"></pre>
      <div style="margin-left: 20px;">Desktop<div style="margin-left: 20px;">Audacity.lnk</div><div style="margin-left: 20px;">Arduino.lnk</div><div style="margin-left: 20px;">Battle.net.lnk</div><div style="margin-left: 20px;">ChessAppOnlineStatusCleanUp.exe</div><div style="margin-left: 20px;">CleanUpOnlineStatus.php</div><div style="margin-left: 20px;">ChessAppOnlineStatusCleanUp.bat</div><div style="margin-left: 20px;">CurseForge.lnk</div><div style="margin-left: 20px;">Docker Desktop.lnk</div><div style="margin-left: 20px;">Code Compare.lnk</div><div style="margin-left: 20px;">CleanUp.php</div><div style="margin-left: 20px;">draw.io.lnk</div><div style="margin-left: 20px;">Electron Fiddle.lnk</div><div style="margin-left: 20px;">Excel.lnk</div><div style="margin-left: 20px;">GNU Octave (CLI).lnk</div><div style="margin-left: 20px;">GitHub Desktop.lnk</div><div style="margin-left: 20px;">Firefox.lnk</div><div style="margin-left: 20px;">Google Chrome.lnk</div><div style="margin-left: 20px;">IBM SPSS Statistics.lnk</div><div style="margin-left: 20px;">LockDown Browser.lnk</div><div style="margin-left: 20px;">Microsoft SQL Server Management Studio 18.lnk</div><div style="margin-left: 20px;">Microsoft Edge.lnk</div><div style="margin-left: 20px;">OBS Studio.lnk</div><div style="margin-left: 20px;">Notepad++.lnk</div><div style="margin-left: 20px;">Outlook.lnk</div><div style="margin-left: 20px;">paint.net.lnk</div><div style="margin-left: 20px;">mGBA.lnk</div><div style="margin-left: 20px;">Pokemon - Fire Red Version (U) (V1.1).gba - Shortcut.lnk</div><div style="margin-left: 20px;">Power BI Desktop.lnk</div><div style="margin-left: 20px;">minecraft.exe</div><div style="margin-left: 20px;">StarUML.lnk</div><div style="margin-left: 20px;">Steam.lnk</div><div style="margin-left: 20px;">SkyrimTogether.exe - Shortcut.lnk</div><div style="margin-left: 20px;">The Elder Scrolls V Skyrim Special Edition.url</div><div style="margin-left: 20px;">Terraria.url</div><div style="margin-left: 20px;">TI-Nspire CX CAS Student Software.lnk</div><div style="margin-left: 20px;">Visual Studio Code.lnk</div><div style="margin-left: 20px;">Vortex.lnk</div><div style="margin-left: 20px;">Word.lnk</div><div style="margin-left: 20px;">World of Warcraft.lnk</div><div style="margin-left: 20px;">Visual Studio 2022.lnk</div><div style="margin-left: 20px;">Games</div></div></div>
      <div class="directory-container" id="organized-directory-container">
        <h3>Organized Directory</h3>
        <pre id="organized-directory"></pre>
      <div style="margin-left: 20px;">Desktop<div style="margin-left: 20px;">Games<div style="margin-left: 20px;">Battle.net.lnk</div><div style="margin-left: 20px;">CurseForge.lnk</div><div style="margin-left: 20px;">mGBA.lnk</div><div style="margin-left: 20px;">Pokemon - Fire Red Version (U) (V1.1).gba - Shortcut.lnk</div><div style="margin-left: 20px;">Steam.lnk</div><div style="margin-left: 20px;">SkyrimTogether.exe - Shortcut.lnk</div><div style="margin-left: 20px;">The Elder Scrolls V Skyrim Special Edition.url</div><div style="margin-left: 20px;">Terraria.url</div><div style="margin-left: 20px;">minecraft.exe</div><div style="margin-left: 20px;">World of Warcraft.lnk</div></div><div style="margin-left: 20px;">Development<div style="margin-left: 20px;">Arduino.lnk</div><div style="margin-left: 20px;">Code Compare.lnk</div><div style="margin-left: 20px;">Docker Desktop.lnk</div><div style="margin-left: 20px;">Electron Fiddle.lnk</div><div style="margin-left: 20px;">GNU Octave (CLI).lnk</div><div style="margin-left: 20px;">GitHub Desktop.lnk</div><div style="margin-left: 20px;">Notepad++.lnk</div><div style="margin-left: 20px;">StarUML.lnk</div><div style="margin-left: 20px;">Visual Studio Code.lnk</div><div style="margin-left: 20px;">Visual Studio 2022.lnk</div></div><div style="margin-left: 20px;">Office<div style="margin-left: 20px;">Excel.lnk</div><div style="margin-left: 20px;">IBM SPSS Statistics.lnk</div><div style="margin-left: 20px;">LockDown Browser.lnk</div><div style="margin-left: 20px;">Microsoft SQL Server Management Studio 18.lnk</div><div style="margin-left: 20px;">Outlook.lnk</div><div style="margin-left: 20px;">Power BI Desktop.lnk</div><div style="margin-left: 20px;">Word.lnk</div></div><div style="margin-left: 20px;">Web<div style="margin-left: 20px;">Firefox.lnk</div><div style="margin-left: 20px;">Google Chrome.lnk</div><div style="margin-left: 20px;">Microsoft Edge.lnk</div><div style="margin-left: 20px;">draw.io.lnk</div></div><div style="margin-left: 20px;">Other<div style="margin-left: 20px;">Audacity.lnk</div><div style="margin-left: 20px;">ChessAppOnlineStatusCleanUp.exe</div><div style="margin-left: 20px;">CleanUpOnlineStatus.php</div><div style="margin-left: 20px;">ChessAppOnlineStatusCleanUp.bat</div><div style="margin-left: 20px;">CleanUp.php</div><div style="margin-left: 20px;">OBS Studio.lnk</div><div style="margin-left: 20px;">paint.net.lnk</div><div style="margin-left: 20px;">TI-Nspire CX CAS Student Software.lnk</div><div style="margin-left: 20px;">Vortex.lnk</div></div></div></div>
    </div>